<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="seguridadEntities" connectionString="metadata=res://*/Entities.SeguridadEntity.csdl|res://*/Entities.SeguridadEntity.ssdl|res://*/Entities.SeguridadEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R8HTD2S\SQLEXPRESS;initial catalog=seguridad;user id=rod6232;password=18167038;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>